openapi: 3.0.0
info:
  title: iLogistics App
  version: '1.0'
  contact: {}
  description: ''
servers:
  - url: 'http://ark.linode:5501'
paths:
  /login:
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: string
                  status:
                    type: string
                  tokens:
                    type: array
                    items:
                      type: string
                  _id:
                    type: string
                  email:
                    type: string
                  username:
                    type: string
                  deviceId:
                    type: string
                  driver:
                    type: object
                    properties:
                      startDate:
                        type: object
                        properties:
                          year:
                            type: integer
                          month:
                            type: integer
                          day:
                            type: integer
                      _id:
                        type: string
                      name:
                        type: string
                      nickName:
                        type: string
                      phone:
                        type: string
                      IDNumber:
                        type: string
                      deviceId:
                        type: string
                      status:
                        type: string
                      user:
                        type: string
                      inc:
                        type: integer
                      __v:
                        type: integer
                      photo:
                        type: string
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  __v:
                    type: string
              examples: {}
        '422':
          description: Unprocessable Entity
          headers: {}
        '':
          description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: ''
        - schema:
            type: string
          in: header
          name: x-client
        - schema:
            type: string
          in: header
          name: x-mobile-client
        - schema:
            type: string
          in: header
          name: x-mobile-version
        - schema:
            type: string
          in: header
          name: x-api-version
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceId:
                  type: string
                password:
                  type: string
            examples: {}
        description: ''
      description: ''
    parameters: []
  /pre-register:
    post:
      summary: ''
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: ''
        - schema:
            type: string
          in: header
          name: x-client
          description: ''
        - schema:
            type: string
          in: header
          name: x-mobile-client
        - schema:
            type: string
          in: header
          name: x-mobile-version
        - schema:
            type: string
          in: header
          name: x-api-version
  /mobile/deliveries:
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
        - schema:
            type: string
          in: header
          name: x-client
        - schema:
            type: string
          in: header
          name: x-mobile-client
        - schema:
            type: string
          in: header
          name: x-mobile-version
        - schema:
            type: string
          in: header
          name: x-api-version
        - schema:
            type: string
          in: header
          name: x-user-token
        - schema:
            type: string
          in: header
          name: x-device-id
  /register:
    post:
      summary: ''
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
        - schema:
            type: string
          in: header
          name: x-client
        - schema:
            type: string
          in: header
          name: x-mobile-client
        - schema:
            type: string
          in: header
          name: x-mobile-version
        - schema:
            type: string
          in: header
          name: x-api-version
  /mobile/invoice/sequence:
    post:
      summary: ''
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
        - schema:
            type: string
          in: header
          name: x-client
        - schema:
            type: string
          in: header
          name: x-mobile-client
        - schema:
            type: string
          in: header
          name: x-mobile-version
        - schema:
            type: string
          in: header
          name: x-api-version
        - schema:
            type: string
          in: header
          name: x-user-token
        - schema:
            type: string
          in: header
          name: x-device-id
  /mobile/invoice/scan:
    post:
      summary: ''
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
        - schema:
            type: string
          in: header
          name: x-client
        - schema:
            type: string
          in: header
          name: x-mobile-client
        - schema:
            type: string
          in: header
          name: x-mobile-version
        - schema:
            type: string
          in: header
          name: x-api-version
        - schema:
            type: string
          in: header
          name: x-user-token
        - schema:
            type: string
          in: header
          name: x-device-id
  /mobile/truck/update-location:
    post:
      summary: ''
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
        - schema:
            type: string
          in: header
          name: x-client
        - schema:
            type: string
          in: header
          name: x-mobile-client
        - schema:
            type: string
          in: header
          name: x-mobile-version
        - schema:
            type: string
          in: header
          name: x-api-version
        - schema:
            type: string
          in: header
          name: x-user-token
        - schema:
            type: string
          in: header
          name: x-device-id
  /mobile/check/in:
    post:
      summary: ''
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
        - schema:
            type: string
          in: header
          name: x-client
        - schema:
            type: string
          in: header
          name: x-mobile-client
        - schema:
            type: string
          in: header
          name: x-mobile-version
        - schema:
            type: string
          in: header
          name: x-api-version
        - schema:
            type: string
          in: header
          name: x-user-token
        - schema:
            type: string
          in: header
          name: x-device-id
  /mobile/check/out:
    post:
      summary: ''
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
        - schema:
            type: string
          in: header
          name: x-client
        - schema:
            type: string
          in: header
          name: x-mobile-client
        - schema:
            type: string
          in: header
          name: x-mobile-version
        - schema:
            type: string
          in: header
          name: x-api-version
        - schema:
            type: string
          in: header
          name: x-user-token
        - schema:
            type: string
          in: header
          name: x-device-id
components:
  schemas: {}
  securitySchemes: {}
